.video3bh{
    div{
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        // background-color: rgba(255, 0, 0, 0.363);

        .videoMobile{
            grid-column-start: 1;
            grid-row-start: 1;
            max-height: 100vh;
            height: 100%;
            align-self: start;
                video{
                    // z-index: -1;
                    // width: 100%;
                    // max-height: 100vh;
                    grid-column-start: 1;
                    grid-row-start: 1;
                    max-height: 100vh;
                    height: 70% !important;
                    align-self: start;
                    width: auto !important;
                }
    
        }
    

        video{
            grid-column-start: 1;
            grid-row-start: 1;
            height: 100vh;
            width: auto;
        }
    // }
}
}

.audifonos{
    justify-self: center;
    align-self: end;
    // width: 150px;
    width: 12rem;
    height: 12rem;
    border: 0;
    margin-top: -75px;
    border: none;
    background-color: transparent;
    // position: absolute;
    cursor: pointer;
    background-color: #00000054;
    padding: 30px;
    border-radius: 50%;
    // z-index: 1000;
    // :active{
      //   border: 0;
      //   outline: none;
      // }
      // :visited{
        //   border: 0;
        //   outline: none;
        // }
        img{
            width: 6rem;
        }
        
        p{
            margin-top: 10px;
            font-size: 1rem;
            color: rgb(236, 236, 236);
        }
    }
      
      .audifonos:focus{
        border: 0;
        outline: none;
      }


.muter{
    transition: 3s;
    display: none;
    justify-self: center;
    align-self: end;
    // width: 150px;
    width: 12rem;
    height: 12rem;
    border: 0;
    margin-top: -75px;
    border: none;
    background-color: transparent;
    // position: absolute;
    cursor: pointer;
    background-color: #00000054;
    padding: 30px;
    border-radius: 50%;
    // z-index: 1000;
    opacity: 0.1;
    &:hover{
        opacity: 1;
    }
    img{
        width: 6rem;
    }
    
    p{
        margin-top: 10px;
        font-size: 1rem;
        color: rgb(236, 236, 236);
    }


}


.goDown{
    align-self: end;
    margin-bottom: 10vh;
    color: #b3b3b3;
    // text-transform: uppercase;
    text-decoration: none;
    &::after{
        animation-duration: 4s;
        animation-name: upDown;
        animation-iteration-count: infinite;
        content: ' ';
        // background-color: white;
        width: 90px;
        height: 30px;
        position: absolute;
        margin-left: -53px;  
        margin-top: 19px;
        background-image: url("../../assets/iconos/downArrow.svg");
        background-repeat: no-repeat;
        opacity: 0.5;
        background-size: 20px;
        margin-left: -12px;  
    }
}


// @keyframes upDown {
//     0% { margin-top: 30px;}
//     10% { margin-top: 39px; }
//     20% { margin-top: 30px; }
//     30% { margin-top: 39px; }
//     40% { margin-top: 30px; }
//     100% { margin-top: 30px; }
//   }

  @keyframes upDown {
    0% { margin-top: 15px;}
    10% { margin-top: 29px; }
    20% { margin-top: 15px; }
    30% { margin-top: 29px; }
    40% { margin-top: 15px; }
    100% { margin-top: 15px; }
  }

.btnContenedor{
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    // background: #00000045;
    z-index: 1000;
    opacity: 0.5;

    // top: 0;
    // left: 0;
    width: 100%;
    // height: 100vh;
    // position: absolute;
    // z-index: 0;
    max-height: 100vh;
    // display: grid;
    display: grid;
    justify-content: center;
    // justify-content: normal;
    justify-items: center;
    align-items: center;
    background-color: rgba(17, 17, 17, 0.363);
    overflow: hidden;

    &:hover{
        opacity: 1;
        .muter{
            opacity: 0.2;
        }
    }
}


@media screen and (max-width: 723px) {
    .video3bh{
        // padding: 90px 0;
        video{

        }

    }
}

@media screen and (max-width: 1030px) {
    .video3bh{
        overflow-x: hidden;
        width: 100%;
        .btnContenedor{
            justify-content: normal !important;
            justify-items: center;
            padding: 0;
            .audifonos{
                margin-top: 5px;
                transform: scale(0.7);
            }
        
            .muter{
                margin-top: 5px;
                transform: scale(0.8);
            }
            
        }
        div{
            width: 100vw;
            .videoMobile{
                video{
                    height: 100% !important;
                    // width: auto;
                    width: 100% !important;
                    // height: auto !important;
                }
            }
        }
    }
}

@media screen and (max-width: 823px) {
    .video3bh{
        overflow-x: hidden;
        width: 100%;
        .btnContenedor{
            justify-content: normal !important;
            justify-items: center;
            padding: 0;
            .audifonos{
                margin-top: 5px;
                transform: scale(0.7);
            }
        
            .muter{
                margin-top: 5px;
                transform: scale(0.8);
            }
            
        }
        div{
            width: 100vw;
            .videoMobile{
                video{
                    // height: 100% !important;
                    // width: auto;
                    width: 100%;
                    height: 100% !important;
                }
            }
        }
    }

}


@media screen and (max-width: 569px) {
    .video3bh{
        overflow-x: hidden;
        width: 100%;
        div{
            width: 100vw;
            .videoMobile{
                video{
                    height: auto !important;
                    width: 95% !important;
                    justify-self: center;
                    align-self: center;
                }
            }
        }
    }
    .btnContenedor{
        justify-content: normal !important;
        justify-items: center;
        .audifonos{
            margin-top: 0px;
            transform: scale(0.7);
        }
    
        .muter{
            margin-top: 0px;
            transform: scale(0.8);
        }
    }
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .video3bh{
        overflow-x: hidden;
        width: 100%;
        div{
            width: 100vw;
            .videoMobile{
                video{
                    height: 100% !important;
                    width: auto;
                }
            }
        }
    }

    .btnContenedor{
        .audifonos{
            margin-top: 5px;
            transform: scale(0.7);
        }
    
        .muter{
            margin-top: -5px;
            transform: scale(0.8);
        }
    }


}