

.gridPartnerLogos{
    display: grid;

}

.partnerLogos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 80%;
    justify-self: center;

    .gridPartner1{
        grid-column-start: 1;
    }
    .gridPartner2{
        grid-column-start: 2;
    }
    .gridPartner3{
        grid-column-start: 3;
    }
    .gridPartner4{
        grid-column-start: 4;
    }
}

