$brightColor: #aaa;
$medColor: #333;
$darkColor: #222;
$blueColor: #009DEF;

.homePage{
    overflow-x: hidden;
}

.contenedorProjects{
    color: $brightColor;
    // display: flex;
    
    // height: 90vh;
    // align-items: center;
    // justify-content: flex-start;
    // align-content: center;
    // flex-wrap: nowrap;
    // flex-direction: row;
    .swiper-container {
        overflow: visible;
    }
    .swiper-slide {
        align-items: center;
        direction: ltr;
        display: flex;
        justify-content: center;
        width: 60%;
    }
    .swiper-scrollbar{
        // margin-top: 50px;
        bottom: -50px;
        height: 1px;
    }
    .swiper-scrollbar-drag{
        height: 1px;
        background-color: $blueColor;
        // width: 40% !important;
    }
}


.projects{
    display: flex;
    gap: 26px;
    // margin: 0 130px;
    display: grid;
    grid-auto-flow: column;
    width: max-content;


}

.cp1{ 
    margin-top: 15px;
}

.cp2{
    margin-top: -40px;
}


.proPic{
    // overflow: hidden;
    img{
        width: 328px;
        height: 286px;
        box-shadow: 0 0 200px 11px #0000001f;
        box-shadow: 0 0 10px 0px #0000001f;
        max-width: 500px;
    }
}

.proV1{
    margin-top: -170px;
}


.groupPartner{
    display: flex;
    img{
        width: 100px;
    }
}

.proTitulo{
    font-size: 4rem;
    margin: 0;
}

.proInfo{
    display: flex;
    align-self: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
}

.btnFlecha{
    align-self: end;
    font-size: 1.5em;
}

.centrarBtn{
    display: grid;
    justify-content: center;
    padding: 0 0 120px 0;
    margin: 100px 0 10px 0;
    .btnFlecha{
        font-size: 1.5em;
    }
}

// .btnFlecha{
//     // align-content: flex-end;
//     // align-self: flex-end;
//     // align-items: flex-end;
//     color: $brightColor;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     font-size: 1.4em;
//     height: 25px;
//     justify-content: flex-start;
//     text-decoration: none;



//     display: grid;
//     grid-template-columns: min-content 40px;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     font-size: 1.4em;
//     height: 25px;
//     text-decoration: none;
//     align-items: baseline;
//     justify-content: start;
//     justify-items: end;
//     font-size: xxx-large;

   
//     svg{

//         transform: rotateX(180deg);
//         height: inherit;
//         height: 15px;
//         width: 15px;
//         margin-left: 5px;
//       }
//     img{
//         transform: rotateX(180deg);
//         height: inherit;
//         height: 15px;
//         margin-left: 5px;
//     }
// }

// .btnFlecha::after{
//     content: " a";
//     background-image: url(../../assets/iconos/flecha.svg);
//     width: 13px;
//     height: 13px;
//     position: relative;
// }


.spaceProjects{
    overflow-x: clip;
    transition: top 0.5s;
    top: 0;
    .titulo{
        margin-bottom: 70px;
    }
}


@media screen and (max-width: 1120px){
    .contenedorProjects{
        color: $brightColor;
        // display: flex;
        
        // height: 90vh;
        // align-items: center;
        // justify-content: flex-start;
        // align-content: center;
        // flex-wrap: nowrap;
        // flex-direction: row;
        .swiper-container {
            overflow: visible;
        }
        .swiper-slide {
            align-items: center;
            direction: ltr;
            display: flex;
            justify-content: center;
            width: 90%;
        }
        .swiper-scrollbar{
            // margin-top: 50px;
            bottom: -50px;
            height: 1px;
        }
        .swiper-scrollbar-drag{
            height: 1px;
            background-color: $blueColor;
            // width: 40% !important;
        }
    }
    .spaceProjects{
        overflow-x: clip;
        transition: top 0.5s;
        top: 0;
        .titulo{
            font-size: 2em;
            margin-bottom: 70px;
        }
    }
}